@use "sass:math";
@import "../../styles/variables";

.project {
    display: grid;
    grid-template-areas:
        "b b b b"
        "a a a a"
        "e e e e"
        "c c c c"
        "d d d d";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto;
    gap: 2px;
    @include desktop {
        max-width: 1024px;
    }
}

.project__img1 {
    margin: 0 auto;
    grid-area: a;
    @include tablet {
        max-width: $size * 0.9;
    }
    @include desktop {
        max-width: 960px;
    }
}

.project__description {
    grid-area: b;
}

.project__technical_sheet {
    grid-area: c;
}

.project__technologies {
    grid-area: d;
}

.project__buttons {
    grid-area: e;
}
