$size: 100%;

.project_container {
    display: grid;
    grid-template-areas:
        "a a a a"
        "e e e e"
        "b b b b"
        "c c c c"
        "d d d d";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(3fr, 8fr) 1fr 1fr 1fr;
    gap: 5px;
}

.description {
    grid-area: b;
}

.technical_sheet {
    grid-area: c;
}

.technologies {
    grid-area: d;
}

.img1 {
    margin: 0 auto;
    grid-area: a;
    width: 100%;
    max-width: 620px;
}

.buttons {
    grid-area: e;
}

@media (min-width: 768px) {
    .project_container {
        display: grid;
        grid-template-areas:
            "a a a a"
            "b b b b"
            "c c c d"
            "e e e e";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 2fr 1fr 1fr;
    }

    .img1 {
        width: 70%;
    }
}

@media (min-width: 1280px) {
}
