$size: 2rem;

.projects_container {
    display: grid;
    height: 75vh;
    grid-template-areas:
        ". b b b ."
        "a d d d c"
        "a d d d c";
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: 10% 42.5% 42.5%;
    gap: 5px;
}

.project_title {
    grid-area: b;
    text-align: center;
    margin: auto 5px;
}

.buttonLeft {
    grid-area: a;
    height: $size * 2;
    width: $size;
    border-bottom-right-radius: $size * 2;
    border-top-right-radius: $size * 2;
    border: solid black 0.5px;
    border-left: none;
}

.buttonRight {
    grid-area: c;
    height: $size * 2;
    width: $size;
    border-bottom-left-radius: $size * 2;
    border-top-left-radius: $size * 2;
    border: solid black 0.5px;
    border-right: none;
}

.project {
    grid-area: d;
    overflow: hidden;
}

@media (min-width: 768px) {
    .project {
        overflow: visible;
    }

    .buttonLeft {
        height: $size * 4;
        width: $size * 2;
        border-bottom-right-radius: $size * 4;
        border-top-right-radius: $size * 4;
    }

    .buttonRight {
        height: $size * 4;
        width: $size * 2;
        border-bottom-left-radius: $size * 4;
        border-top-left-radius: $size * 4;
    }
}

@media (min-width: 1280px) {
    .buttonLeft {
        height: $size * 8;
        width: $size * 4;
        border-bottom-right-radius: $size * 8;
        border-top-right-radius: $size * 8;
        margin-right: 0.5rem;
    }

    .buttonRight {
        height: $size * 8;
        width: $size * 4;
        border-bottom-left-radius: $size * 8;
        border-top-left-radius: $size * 8;
        margin-left: 0.5rem;
    }
}
