$size: 2rem;

.projects_container {
    display: grid;
    height: auto;
    min-height: 75vh;
    grid-template-areas:
        "b b b b b"
        "d d d d d"
        "d d d d d";
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: 5.5rem auto auto;
    gap: 5px;
    margin-top: 2rem;
}

.project_title {
    grid-area: b;
    margin: auto 0;
}

.project {
    grid-area: d;
    overflow: hidden;
}

@media (min-width: 768px) {
    .projects_container {
        grid-template-rows: 9rem auto auto;
    }
}

@media (min-width: 1280px) {
    .projects_container {
        margin: 0 auto;
    }
}
