.switch_container {
    margin: 0 0.8rem;
}

#label {
    display: flex;
    width: 50px;
    height: 21px;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    cursor: pointer;
    position: relative;
    border-radius: 1rem;
}

label .text {
    font-size: 12px;
}

.ball {
    display: block;
    position: absolute;
    border-radius: 1rem;
    transition: 0.3s;
    left: 1px;
    top: 1px;
    height: 17px;
    width: 22px;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    cursor: pointer;
    white-space: nowrap;
    color: #222;
    --default-border-radius: 8px;
    -webkit-text-size-adjust: 100%;
}

input:checked + label .ball {
    transform: translateX(24px);
}
input:unchecked + label .ball {
    transform: translateX(-28px);
}
.switchInput {
    display: none;
}

@media (min-width: 768px) {
    .switch_container {
        margin: 0 1.5rem;
    }
    #label {
        width: 54px;
        height: 24px;
    }
    .ball {
        height: 20px;
        width: 26px;
    }
    label .text {
        font-size: 14px;
    }
}
