@use "sass:math";
@import "../../styles/variables";

.map_container {
    display: grid;
    width: 100%;
    grid-template-columns: math.div($size, 1.05);
    grid-template-rows: 4.25em auto 4.25em auto 2em;
    grid-template-areas:
        "dev "
        "projetsDev"
        "vfx"
        "projetsVfx"
        "title";
    gap: 5px;
    @include mobile {
        width: 100%;
        grid-template-columns: math.div($size, 1.6) math.div($size, 3.2);
        grid-template-rows: 4.25em math.div($size, 1.1) 2em;
        grid-template-areas:
            "dev vfx"
            "projetsDev projetsVfx"
            "title title";
        gap: 10px;
    }
    @include desktop {
        width: 90vw;
        max-width: 840px;
        margin: 0 auto;
        grid-template-columns: 60% 30%;
        grid-template-rows:
            4.25em minmax(math.div($maxMapSize, 2), math.div($maxMapSize, 1.64))
            4.5rem;
        grid-template-areas:
            "dev vfx"
            "projetsDev projetsVfx"
            "title title";
        gap: 6px;
    }
}

.map_container__dev {
    grid-area: dev;
}

.map_container__vfx {
    grid-area: vfx;
}

.map_container__title {
    grid-area: title;
    visibility: hidden;
    @include desktop {
        grid-area: title;
        visibility: visible;
    }
}

.map_container__projetsDev {
    grid-area: projetsDev;
}
.map_container__projetsVfx {
    grid-area: projetsVfx;
}
