.map_container {
    display: grid;
    grid-template-areas:
        "dev dev line vfx"
        "a b line e"
        "c d line e";
    grid-template-columns: 200px 200px 20px auto;
    grid-template-rows: 40px 200px 200px;
    gap: 5px;
}

.dev {
    grid-area: dev;
    text-align: right;
    margin: auto 5px;
}

.vfx {
    grid-area: vfx;
    text-align: left;
    margin: auto 5px;
}

.line {
    grid-area: line;
    background-color: black;
    margin: 0 8px;
}

.a {
    grid-area: a;
    background: no-repeat center / 100% url("../../public/img/demo_2018_Y.png");
    border-radius: 50%;
}

.b {
    grid-area: b;
    background: no-repeat center / 100%
        url("../../public/img/my_garden_map_Y.png");
}

.c {
    grid-area: c;
    background-color: black;
}

.d {
    grid-area: d;
    background: no-repeat center / 100% url("../../public/img/amap_Y.png");
    border-radius: 50%;
}

.e {
    grid-area: e;
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 5px;
}

.demo {
    background-color: black;
}

.demo2018 {
    background: no-repeat center / 100% url("../../public/img/demo_2018_Y.png");
}

.demo2016 {
    background: no-repeat center / 100% url("../../public/img/demo_2016_Y.png");
}

.gardenmap {
    background: no-repeat center / 100%
        url("../../public/img/my_garden_map_Y.png");
}

.seat {
    background: no-repeat center / 100% url("../../public/img/seat_Y.png");
}
.amap {
    background: no-repeat center / 100% url("../../public/img/amap_Y.png");
}
.walkcycle {
    background: no-repeat center / 100% url("../../public/img/walk_cycle_Y.png");
}
.black {
    background-color: black;
}
