@use "sass:math";
$size: 100vw;
$maxSize: 840px;

.map_container {
    display: grid;
    width: 100%;
    grid-template-columns: math.div($size, 1.05);
    grid-template-rows: 4.25em auto 4.25em auto 2em;
    grid-template-areas:
        "dev "
        "projetsDev"
        "vfx"
        "projetsVfx"
        "title";
    gap: 5px;
}

.dev {
    grid-area: dev;
}

.vfx {
    grid-area: vfx;
}

.title {
    grid-area: title;
    visibility: hidden;
}

.projetsDev {
    grid-area: projetsDev;
}
.projetsVfx {
    grid-area: projetsVfx;
}

@media (min-width: 640px) {
    .map_container {
        width: 100%;
        grid-template-columns: math.div($size, 1.6) math.div($size, 3.2);
        grid-template-rows: 4.25em math.div($size, 1.1) 2em;
        grid-template-areas:
            "dev vfx"
            "projetsDev projetsVfx"
            "title title";
        gap: 10px;
    }
}

@media (min-width: 1024px) {
    .map_container {
        width: 90vw;
        max-width: 840px;
        margin: 0 auto;
        grid-template-columns: 60% 30%;
        grid-template-rows:
            4.25em minmax(math.div($maxSize, 2), math.div($maxSize, 1.64))
            4.5rem;
        grid-template-areas:
            "dev vfx"
            "projetsDev projetsVfx"
            "title title";
        gap: 6px;
    }
    .title {
        grid-area: title;
        visibility: visible;
    }
}
