@use "sass:math";
@import "../../styles/variables";

.player_wrapper {
    position: relative;
    height: math.div($size * 0.97 * 9, 16);
    width: $size * 0.97;
    @include mobile {
        height: math.div($size * 9, 16);
        width: $size;
    }
    @include tablet {
        height: math.div($size * 0.65 * 9, 16);
        width: $size * 0.65;
    }
    @include desktop {
        height: math.div($size * 0.75 * 9, 16);
        width: $size * 0.75;
    }
    @include lgDesktop {
        height: math.div($size * 0.8 * 9, 16);
        width: $size * 0.8;
        max-width: $maxVideoSize;
        max-height: math.div($maxVideoSize * 9, 16);
    }
}
